extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	.item
		input#price(type="text" value="1000")
	.item
		input#quantity(type="text" value="2")
	.item
		select#delivery
			option ------
			option(value="1") Miễn phí
			option(value="2") Giao hàng nhanh (10%)
			option(value="3") Giao tiêu chuẩn (5%)
	.item.text-danger
		#sum 000












				//- ul
				//- 	li.arrow
				//- 		h2 Download1 
				//- 		p 1080p 720p
				//- 	li.arrow
				//- 		h2 Download2
				//- 		p 1080p 720p
				//- 	li.arrow
				//- 		h2 Download3
				//- 		p 1080p 720p
				//- 	li.arrow
				//- 		h2 Download4
				//- 		p 1080p 720p
				//- 	li.arrow
				//- 		h2 Download5
				//- 		p 1080p 720p
				//- .item(data-name="./img/3.jpg")
				//- 	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci quod ipsa minima impedit magnam voluptates obcaecati aliquam, ut suscipit hic unde vitae officiis porro deserunt inventore perspiciatis illo distinctio?
				//- .item(data-name="./img/3.jpg")
				//- 	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci quod ipsa minima impedit magnam voluptates obcaecati aliquam, ut suscipit hic unde vitae officiis porro deserunt inventore perspiciatis illo distinctio?
				//- .item(data-name="./img/3.jpg")
				//- 	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci quod ipsa minima impedit magnam voluptates obcaecati aliquam, ut suscipit hic unde vitae officiis porro deserunt inventore perspiciatis illo distinctio?
				//- .item(data-name="./img/3.jpg")
				//- 	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci quod ipsa minima impedit magnam voluptates obcaecati aliquam, ut suscipit hic unde vitae officiis porro deserunt inventore perspiciatis illo distinctio?

				//- p
				//- 	img(src="./img/f.png", alt="1")
				
				//- ul
				//- 	li
				//- 		img(src="./img/1.jpg", alt="1").img-fluid
				//- 	li
				//- 		img(src="./img/2.jpg", alt="2").img-fluid
				//- 	li
				//- 		img(src="./img/3.jpg", alt="3").img-fluid
				//- 	li.active
				//- 		img(src="./img/4.jpg", alt="4").img-fluid

	
		
